ion-input {
    margin-left: 1rem;
}

ion-item {
    margin: 1rem 0 0;
    border-radius: 1rem;
}

.error-message {
    font-size: 0.6rem;
    font-weight: 600;
    margin: -1rem 0 0 1rem;
}

.toggle-content {
    --background: none;
}

ion-button {
    margin-top: 2rem;
}

@media screen and (min-width: 960px) {
    form {
      width: 40rem;
      margin: auto;
      margin-top: 2rem;
      padding: 3rem;
    }
    .error-message {
        font-size: 0.9rem;
    }
}